.pb-mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 1030;
}
.pb-mobile-nav-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
}
.pb-mobile-item {
  color: #6b7280;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.pb-mobile-item.active {
  color: #009f7f;
}
@supports (padding: env(safe-area-inset-bottom)) {
  .pb-mobile-nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
